<!-- renders the connect four move entry radio buttons -->

<div class="col-xs-offset-3 ">
	<%= form_tag(drop_piece_path, :method => "POST") do |f| %> 
		<span class="radio col-xs-1">
		  <%= radio_button_tag(:move, '0') %>
		</span>
		
		<span class="radio col-xs-1">
		  <%= radio_button_tag(:move, '1') %>
		</span>
		
		<span class="radio col-xs-1">
		  <%= radio_button_tag(:move, '2') %>
		</span>
		
		<span class="radio col-xs-1">
		  <%= radio_button_tag(:move, '3') %>
		</span>
		
		<span class="radio col-xs-1">
		  <%= radio_button_tag(:move, '4') %>
		</span>
		
		<span class="radio col-xs-1">
		  <%= radio_button_tag(:move, '5') %>
		</span>
		
		<span class="radio col-xs-1">
		  <%= radio_button_tag(:move, '6') %>
		</span>

		<div class="row">
			<div class="col-xs-2 col-xs-offset-3">
				<%= submit_tag("Submit", class: 'btn btn-default')%>
			</div>
		</div>
	<% end %>
</div>