<%= render 'shared/navbar' %>

<div class="gc-page-wrapper">
<h1>Welcome to Rock, Paper, Scissors!</h1>

<main>
	<secion class="rps-game-wrapper container">
		<div class="rps-content col-md-6">
			<header class="header">
				<h2>Rock, Paper, Scissors</h2>
				<p>Play the game below</p>

			</header>
			<!-- needs to have a case for the start of the game. Otherwise these values are nil. -->
			<div class="col-md-8 col-md-offset-3">
				<div class="game-box">
					<h3><% if @computer_throw %>
							<%= "The computer chose #{@computer_throw}" %>
							<% end %>
					</h3>
					<h3><% if @player_throw %>
							<%= "You chose #{@player_throw}" %>
							<% else %>
							<%= "What's it gonna be?" %>
							<% end %>
					</h3>
					<h3><%= "#{@result}" %></h3>
				</div>
				<div class="game-box">
					<div class="row">
						<h4>Score</h4>
						<h5><%= "Player: #{@score[0]} | Computer: #{@score[1]}" %></h5>
					</div>
				</div>

				<div class="game-box">
					<%= form_tag(throw_path, :method => "POST") do %>
						<%= radio_button_tag(:player_choice, "r") %>
						<%= label_tag(:rock, "Rock") %>

						<%= radio_button_tag(:player_choice, "p") %>
						<%= label_tag(:paper, "Paper") %>

						<%= radio_button_tag(:player_choice, "s") %>
						<%= label_tag(:scissors, "Scissors") %>
						<%= submit_tag("Ro Sham Bo!") %>
					<% end %>

				</div>

			</div>
		
		</div>
		
	</secion>
</main>


</div>