

<div class="gc-page-wrapper">
  <h1>Welcome to Rock, Paper, Scissors!</h1>

  <h2>Choose your weapon below.</h2>

  <p>Click <%= link_to "HERE", rps_path %> to reset the score.</p>


	
	
			
				<div class="col-md-6 col-md-offset-3">

				  <div class="game-box">
						<h4>Score</h4>
						<h5><%= "Player: #{@score[0]}  |  Computer: #{@score[1]}" %></h5>
					</div>
					
					<div class="game-box">
						<h3><% if @computer_throw %>
								<%= "The computer chose #{@computer_throw}." %>
								<% end %>
						</h3>
						<h3><% if @player_throw %>
								<%= "You chose #{@player_throw}." %>
								<% else %>
								<%= "What's it gonna be?" %>
								<% end %>
						</h3>
						<h3><%= "#{@result}" %></h3>
					</div>

					<div class="game-box">
						<%= form_tag(throw_path, :method => "POST") do %>
							<%= radio_button_tag(:player_choice, "rock") %>
							<%= label_tag(:rock, "Rock") %>

							<%= radio_button_tag(:player_choice, "paper") %>
							<%= label_tag(:paper, "Paper") %>

							<%= radio_button_tag(:player_choice, "scissors") %>
							<%= label_tag(:scissors, "Scissors") %>
							<%= submit_tag("Ro Sham Bo!") %>
						<% end %>

					</div>
				</div>
</div>
	